body {
    text-align: center;
}

.resume .mat-mdc-raised-button {
    padding-top: 50px;
    padding-bottom: 50px;
}

.resume a {
    font-size: 45px;
    color: #FFF;
    background-color: rgb(114, 150, 119);
    height: 60px;
}

.resume a:hover {
    text-decoration: underline;
}

.resume img {
    vertical-align: bottom;
    height: 50px;
}

.skillstitle {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 80px;
    margin-bottom: 0px;
}

.summary {
    color: white;
    font-size: 30px;
    text-align: left;
    border: 3px solid #888;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 15vw;
    background-color: #24272a;
}