<body>
    <div class="resume">
        <a mat-raised-button href="https://docs.google.com/document/d/1yZAwYQDmoiGckfrNGbjf8x8NWaBHaLXN/edit?usp=sharing&ouid=114626619061738047988&rtpof=true&sd=true">
            <img src="/assets/images/google_drive_logo.png">
            View & download my resume!
        </a>
    </div>
    <p class="skillstitle">Some of my technical skills at a glance: </p><br><br>
    <div class="summary">
        - C++<br>
        - Python<br> 
        - Rust<br> 
        - GitHub<br> 
        - VSCode<br>
        - Angular<br>
        - GitHub pages 
    </div>

</body>
<router-outlet></router-outlet>