<!DOCTYPE html>
<html>

<mat-toolbar>
    <div class="shortcuts">
        <p routerLink= "/home" routerLinkActive="active">home</p>
        <p routerLink= "/hire-me" routerLinkActive="active">hire me</p>
        <p routerLink= "/connect" routerLinkActive="active">hit me up</p>
        <p routerLinkActive="active">projects</p>
    </div>

</mat-toolbar>


<router-outlet></router-outlet>
</html>
<!-- 
    add this line after line 18 in angular.json if the ghpages deployment doesn't work. (having this line makes ng serve not work)
    "baseHref": "https://llukehaskell.github.io/personal-site/", 
-->