mat-toolbar {
    font-family: ubuntu;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #212326;
}

.shortcuts {
    margin: auto;
    font-size: 30px;
    color: rgb(180, 180, 180);
}

.shortcuts p {
    margin-left: 6vw;
    margin-right: 6vw;
    display: inline;
}

.shortcuts p:hover {
    color: #FFF;    
    cursor: pointer;
}

.active {
    color: #FFF;
    text-decoration: underline;
}