<!DOCTYPE html>
<html>

<mat-toolbar>
    <div class="shortcuts">
        <span>hire me  </span>
        <span routerLink="/connect">hit me up  </span>
        <span>projects</span>
    </div>

</mat-toolbar>

<body>
    <div class="front">
        <div class="greeting">
            <h1>hello my name is <span routerLink="/">Luke Haskell</span></h1>            
            <h2>you have reached my website</h2>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
</html>
<!-- 
    add this line after line 18 in angular.json if the ghpages deployment doesn't work. (having this line makes ng serve not work)
    "baseHref": "https://llukehaskell.github.io/personal-site/", 
-->